.btn {
  display: inline-block;
  color: white;
  padding: 10px;
  margin-top: 20%;
  margin-left: 3%;
  margin-right: 3%;
  text-decoration: none;
}

.first-btn {
  background-color: rgba(100, 125, 141, 0.84);
}

.second-btn {
  background-color: rgba(70, 114, 141, 0.664);
}

.third-btn {
  background-color: rgba(88, 147, 168, 0.774);
}

.first-btn:hover, .second-btn:hover, .third-btn:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  text-decoration: none;
  color: aliceblue;
}