@import 'buttons.css';

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "sans-serif";
  font-size: 18px;
}

/* headings */
h1 {
  letter-spacing: 0.2cap;
  text-align: center;
  font-size: 3rem;
}


h2, h3, h5, h6 {
  letter-spacing: 0.1cap;
  text-align: justify;
  padding-bottom: 20px;
  margin-top: 30px;
 
}

h4 {
  text-align: left;
}

p {
   letter-spacing: 0.1cap;
   text-align: justify;
   padding-bottom: 10%;
}

ul {
  list-style: none;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(3, 3, 146);
  text-decoration: underline;
}



.slogan {
  font-size: 1.3rem;
  font-weight: bold;
}

/*container*/
.container {
  max-width: 100%;
  padding: 2em;
  margin: 2em;
}


/*table*/
table {
  max-width: 100%;
  table-layout: fixed;
}

td, th {
  padding: 1em;
  margin: 2em;
}

.header {
  background-size: auto;
  background-color: rgba(250, 231, 240, 0.721);
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  background-size: cover;
  background-color: rgba(250, 231, 240, 0.721);
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.container-flex1 {
  display: flex;
  padding: 2em;
  margin: 10%;
  margin-bottom: 2em;
  text-align: center;
}

.container-flex2 {
  display: flex;
  flex-direction: row;
  
  padding: 0em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: fit-content;
}

.aside {
width: 20%;
padding: 5%;
margin-right: 0%;
float: right;
font-style: italic;
background-color: rgba(245, 251, 123, 0.365);
}

.main {
  text-align: left;
  background-size: cover;
  background-color: rgba(216, 238, 241, 0.61);
  background-position: center; 
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  width: 60%;
}


.profile-photo {
  border-radius: 10%;
  padding: 10px;
  max-width: 100%;
  max-inline-size: 100%;
  max-height: 12em;
  image-rendering: auto;
}

.center {
  margin: auto;
  padding: 0;
}

.top {
  vertical-align: top;
  min-width: 6em;
}

/*grid*/

.flex-container {
  display: flex;
  grid-template-rows: 5px, 5px;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.item-1 {
  background-color: rgba(240, 248, 255, 0.685);
  margin-top: 5px;
  text-align: center;
  padding-left: 1em;
  padding-top: 0em;
  width: 12em;
}

.item-2 {
  padding-left: 0.5em;
  padding-bottom: 0em;
  width: 12em;
}

.row {
  display: flex;
}

.col {
  width: 15em;
}

/*banner*/

.fixed {
  background-color: rgba(1, 69, 89, 0.833);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  height: fit-content;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  text-transform: uppercase;
  text-align: center;
}

.fixed a {
  color: white
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2, h3 {
    font-size: 1rem;
  }

  body {
    font-size: 0.6rem;
  }
  .slogan {
    font-size: 0.9rem;
  }
}

