@import 'buttons.css';

*{
  margin: 0;
  padding: 0;
}



/* headings */
h1 {
  font-family: "Open Sans", "sans-serif";
  letter-spacing: 0.2cap;
  text-align: center;
  font-size: clamp(0.5rem, 5vw, 2rem);
}


h2, h3, h5, h6 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1cap;
  text-align: justify;
  padding-bottom: 20px;
  margin-top: 30px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

p {
   font-family: "Open Sans", sans-serif;
   letter-spacing: 0.1cap;
   text-align: justify;
   padding-bottom: 10%;
}

ul {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(3, 3, 146);
  text-decoration: underline;
}

/*container*/
.container {
  max-width: 100%;
  padding: 2em;
  margin: 2em;
}


/*table*/
table {
  max-width: 100%;
  table-layout: fixed;
}

td, th {
  padding: 1em;
  margin: 2em;
}

.header {
  font-family: "Open Sans", sans-serif;;
  background-size: auto;
  background-color: rgba(250, 231, 240, 0.721);
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  font-family: "Open Sans", sans-serif;;
  background-size: cover;
  background-color: rgba(250, 231, 240, 0.721);
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  padding-left: 10%;
  padding-right: 20%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.container-flex1 {
  display: flex;
  padding: 2em;
  margin: 10%;
  margin-bottom: 2em;
  text-align: center;
}

.container-flex2 {
  display: flex;
  padding: 0em;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: fit-content;
 
  
}

.aside {
width: 30%;
padding: 5%;
margin-right: 0%;
float: right;
font-style: italic;
background-color: rgba(245, 251, 123, 0.365);
}

.main {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  background-size: cover;
  background-color: rgba(216, 238, 241, 0.61);
  background-position: center; 
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  width: 70%;
}


.profile-photo {
  border-radius: 10%;
  padding: 10px;
  max-width: 100%;
  max-inline-size: 100%;
  max-height: 12em;
  image-rendering: auto;
}

.center {
  margin: auto;
  padding: 0;
}

.top {
  vertical-align: top;
  min-width: 6em;
}

/*grid*/

.grid-container {
  display: grid;
  grid-template-rows: 10px, 10px;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.item-1 {
  margin-top: 5px;
  text-align: center;
  padding-left: 1em;
  padding-top: 0em;
  width: 12em;
}

.item-2 {
  padding-left: 0.5em;
  padding-bottom: 0em;
  width: 12em;
}